@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --gradient--background-button-primary: linear-gradient(
    45deg,
    #fd267a,
    #ff6036
  );
  --gradient--plus: linear-gradient(45deg, #fd267a, #ff6036);
  --gradient--gold: linear-gradient(45deg, #e6af16, #f7d472);
  --gradient--gold-shine: linear-gradient(45deg, #e6af16, #f7d472, #e6af16);
  --gradient--platinum: linear-gradient(45deg, #111418, #656e7b);
  --gradient--platinum-shine: linear-gradient(45deg, #111418, #656e7b, #111418);
  --gradient--brand: linear-gradient(45deg, #fd267a, #ff6036);
  --text-muted: #505965;
  --brand-color: #fd267a;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

.seperator {
  width: 100%;
  height: 1px;
  background-color: #d4d8de;
  margin-bottom: 12px;
  margin-top: 12px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.footer-wrapper {
  width: 90%;
  margin: 18px auto;
  display: flex;
  flex-direction: column;
}

.footer-one {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.footer-links > ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-links a {
  color: #505965;
}

.social-links {
  flex-direction: row !important;
  gap: 22px;
}
.social-links a:hover svg {
  fill: #fd267a;
}
.app-promotion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.app_btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app_btns a {
  padding: 16px 8px;
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_btns > a img {
  max-width: 100%;
  height: auto;
}
.footer-description {
  margin-top: 22px;
}
.footer-description p {
  margin-bottom: 12px;
  color: #505965;
}
@media screen and (min-width: 930px) {
  .footer-one {
    flex-direction: row;
    gap: 75px;
  }
}
